<div>
    <div class="menuDiv">
        <mat-card class="menuCard">
            <mat-card-header class="menuHeader">
                <mat-label>
                    Your Project
                </mat-label>
            </mat-card-header>

            <mat-divider></mat-divider>

            <mat-card-content class="menuContent">
                <div class="section">
                    <button mat-button class="sectionHeader">
                        Overview
                    </button>

                    <button mat-button>
                        About this Project
                    </button>

                    <button mat-button>
                        Documentation
                    </button>
                </div>

                <mat-divider></mat-divider>

                <div class="section">
                    <button mat-button class="sectionHeader">
                        Projects
                    </button>

                  <button mat-button>
                    Boards
                  </button>

                    <button mat-button>
                        Workitems
                    </button>

                    <button mat-button>
                        Userstories
                    </button>

                    <button mat-button>
                        Sprints
                    </button>
                </div>

                <mat-divider></mat-divider>


                <div class="section">
                    <button mat-button class="sectionHeader">
                        Repos
                    </button>

                    <button mat-button>
                        Pull-Request
                    </button>

                    <button mat-button>
                        Branches
                    </button>

                    <button mat-button>
                        Pushes
                    </button>

                    <button mat-button>
                        Commits
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
