<div class="board">
    <div class="column" 
        cdkDropList
        #newList="cdkDropList"
        [cdkDropListData]="new"
        [cdkDropListConnectedTo]="[inProgressList]"
        (cdkDropListDropped)="drop($event)">
        <div class="column-title">New</div>
        <mat-card *ngFor="let item of new" cdkDrag>{{item}}</mat-card>
        <div class="taskbar-btn-div">
            <button mat-button class="taskbar-actions taskbar-btn">
                <mat-icon>add</mat-icon>
                add Item
            </button>
        </div>
    </div>

    <div class="column"
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress"
        [cdkDropListConnectedTo]="[testReadyList,newList]"
        (cdkDropListDropped)="drop($event)">
        <div class="column-title">In Progress</div>
        <mat-card *ngFor="let item of inProgress" cdkDrag>{{item}}</mat-card>
        <div class="taskbar-btn-div">
            <button mat-button class="taskbar-actions taskbar-btn">
                <mat-icon>add</mat-icon>
                add Item
            </button>
        </div>
        
    </div>

    <div class="column"
        cdkDropList
        #testReadyList="cdkDropList"
        [cdkDropListData]="testReady"
        [cdkDropListConnectedTo]="[inProgressList, doneList]"
        (cdkDropListDropped)="drop($event)">
        <div class="column-title">Testing</div>
        <mat-card *ngFor="let item of testReady" cdkDrag>{{item}}</mat-card>
        <div class="taskbar-btn-div">
            <button mat-button class="taskbar-actions taskbar-btn">
                <mat-icon>add</mat-icon>
                add Item
            </button>
        </div>
    </div>

    <div class="column"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[testReadyList]"
        (cdkDropListDropped)="drop($event)">
        <div class="column-title">Done</div>
        <mat-card *ngFor="let item of done" cdkDrag>{{item}}</mat-card>
        <div class="taskbar-btn-div">
            <button mat-button class="taskbar-actions taskbar-btn">
                <mat-icon>add</mat-icon>
                add Item
            </button>
        </div>
    </div>
</div>

