<div class="appHeader">
    <app-board-header></app-board-header>
</div>
<div class="appBody">
    <div class="appMenu">
        <app-menu></app-menu>
    </div>
    <div class="appBoardView">
        <div class="body">
            <div class="taskbar">
                <mat-form-field class="taskbar-actions">
                    <mat-label>Boards</mat-label>
                    <mat-select>
                        <mat-option routerLink="/feature">Feature Board</mat-option>
                        <mat-option routerLink="/backlog">Work Items</mat-option>
                    </mat-select>
                </mat-form-field>
         
                <mat-form-field class="taskbar-actions">
                    <mat-label>Sort by:</mat-label>
                    <mat-select>
                        <mat-option></mat-option>
                        <mat-option></mat-option>
                        <mat-option></mat-option>
                        <mat-option></mat-option>
                    </mat-select>
                </mat-form-field>
            
                <mat-form-field class="taskbar-actions">
                    <mat-label>Sprint: </mat-label>
                    <mat-select>
                        <mat-option></mat-option>
                    </mat-select>
                </mat-form-field>
        
                <div class="taskbar-btn-div">
                    <button mat-button class="taskbar-actions taskbar-btn">
                        <mat-icon>settings</mat-icon>
                    </button>
                </div>
            </div>

            <div>
                <router-outlet></router-outlet>
            </div>
    </div>
</div>
