.header{
    display: flex;
    width: 100%;
}

.headerCard{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.headerTitle{
    font-size: larger;
    font-weight: 500;
    font-style: italic;
    margin: 1%;
    width: 70%;
}

.headerInput{
    width: 15%;
    margin-top: 0.5%;
}

.settings{
    margin: 1%;
}

.profilePicture{
    background-image: url('https://placedog.net/500');
    background-size: cover;
    margin: 1%;
}